[Desktop Entry]
Name=HyprKeys
Comment=Explore Hyprland keyboard shortcuts
Exec=hyprkeys
Icon=input-keyboard
Terminal=false
Type=Application
Categories=Settings;Utility;GTK;
Keywords=hyprland;shortcut;keyboard;bind;
